.aboutus-wrapper {
    display: flex;
}

.box {
    padding-top: 8%;
    padding-bottom: 3%;
}

.left {
    padding-left: 7.5%;
}

.left h1 {
    font-weight: 700;
    color: #050B18;
    font-size: 1.8em;
}

.left p {
    color: #002525;
    font-size: 0.95em;
    padding-top: 10px;
    margin-right: 10px;
    line-height: 1.7em;
}

.right {
    flex: 100%;
    margin-right: 7.5%;
}

.article p {
    width: 75%;
    float: right;
    margin-right: 10px;
    font-size: 0.95em;
}

.featimg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.abtimg {
    margin-top: 35px;
    width: 6.0em;
    height: 5.2em;
}

.bottom img {
    width: 5.8em;
    margin-top: 20px;
}

.top p {
    width: 83%;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}

.bottom p {
    width: 83%;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 840px) {
    .aboutus-wrapper {
        flex-direction: column;
    }

    .left {
        padding-right: 7.5%;
    }

    .left p {
        font-size: 1.2em;
        line-height: 1.7em;
    }

    .box {
        padding-top: 2%;
        padding-bottom: 0;
    }

    .abtimg {
        margin-top: 35px;
        width: 6.4em;
        height: 6.2em;
        margin-left: -15px;
    }

    .bottom img {
        width: 6.0em;
        margin-top: 60px;
    }

    .top p {
        width: 80%;
        float: right;
        margin-right: 10px;
        margin-top: 25px;
    }

    .bottom p {
        width: 80%;
        float: right;
        margin-right: 10px;
        margin-top: -98px;
    }

    .right {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .aboutus-wrapper {
        flex-direction: column;
    }

    .left {
        padding-right: 7.5%;
    }

    .abtimg {
        margin-top: 35px;
        width: 4.4em;
        height: 4.2em;
        margin-left: -15px;
    }

    .bottom img {
        width: 4.0em;
        margin-top: 219px;
    }

    .top p {
        width: 80%;
        float: right;
        margin-right: 10px;
        margin-top: 25px;
    }

    .bottom p {
        width: 80%;
        float: right;
        margin-right: 10px;
        margin-top: -85px;
    }

    .right {
        margin-right: 0;
    }
    
}