.aboutus-wrapper {
    display: flex;
    height: 92vh;
}

.box {
    flex: 50%;
    padding-top: 10%;
    padding-bottom: 3%;
}

.left {
    padding-left: 7.5%;
}

.left h1 {
    font-weight: 700;
    color: #050B18;
    font-size: 1.8em;
}

.left p {
    color: #002525;
    font-size: 16px;
    padding-top: 10px;
    margin-right: 10px;
}

.right {
    
}

.article p {
    width: 85%;
    float: right;
}

.article span {}

.featimg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

@media screen and (max-width: 840px) {
    .aboutus-wrapper {
        flex-direction: column;
    }

    .left {
        padding-right: 7.5%;
    }

    .box {
        padding-top: 2%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .aboutus-wrapper {
        flex-direction: column;
    }

    .left {
        padding-right: 7.5%;
    }
}