.wrapper-clients {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #D6E9FD;
}

.wrapper-clients > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.top-client {
    flex: 20%;
}

.top-client h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #050B18;
}

.middle-client {
    flex: 60%;
}

.client-logo {
    margin-top: 35px;
}

.client-logo-cont {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.client-logo > img {
    height: 80px;
    width: 250px;
}

.bottom-client {
    flex: 20%;
    color: beige;
}

@media screen and (max-width: 840px) {
    .wrapper-clients {
        height: 30vh;
    }

    .client-logo {
        margin-left: 25px;
    }

    .client-logo > img {
        width: 550px;
        height: 150px
    }

    .client-logo-cont {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper-clients {
        height: 30vh;
    }

    .wrapper-clients > div {
        padding-top: 2%;
    }

    .client-logo {
        margin-top: 1px;
        margin-left: 16px;
    }

    .client-logo > img {
        height: 120px;
        width: 200px;
    }
}