.wrapper-clients {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #002525;
}

.wrapper-clients > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.top-client {
    flex: 20%;
}

.top-client h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
}

.middle-client {
    flex: 60%;
}

.client-logo {
    margin-top: 35px;
}

.client-logo-cont {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.client-logo > img {
    height: 80px;
    width: 250px;
}

.bottom-client {
    flex: 20%;
    color: beige;
}

@media screen and (max-width: 1040px) {
    .wrapper-clients {
        height: 30vh;
    }

    .wrapper-clients > div {
        padding-top: 2%;
    }

    .client-logo {
        margin-top: 1px;
    }

    .client-logo > img {
        height: 120px;
    }
}