.wrapper-clients {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #002525;
}

.wrapper-clients > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.top-client {
    flex: 20%;
}

.top-client h1 {
    font-weight: 700;
    color: #ffffff;
}

.middle-client {
    flex: 60%;
}

.client-logo {
    margin-top: 35px;
}

.client-logo-cont {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.client-logo > img {
    height: 80px;
    width: 250px;
}

.bottom-client {
    flex: 20%;
    background-color: beige;
}