.wrapper-contact {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #002525;
}

.wrapper-contact > div {
    padding: 0 0 0 7.5%;
    padding-top: 0%;
}

.contact-title {
    flex: 20%;  
}

.contact-title h1 {
    font-weight: 700;
    color: #ffffff;
}

.crow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contact-details {
    flex: 40%;
    padding-top: 1%;
}

.contact-map {
    flex: 60%;
    background-color: aquamarine;
    -webkit-clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
}