.wrapper-contact {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.wrapper-contact > div {
    padding: 0 0 0 7.5%;
    padding-top: 0%;
}

.contact-title {
    flex: 20%;  
    color: #050B18;
}

.contact-title h1 {
    font-weight: 700;
    font-size: 1.8em;
}

.contact-title p {
    padding-top: 10px;
}

.crow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contact-details {
    flex: 40%;
    padding-top: 1.5%;
}

.contact-map {
    flex: 70%;
    height: 62vh;
    -webkit-clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
}

.contact-map > img {
    width: 100%;
    height: 100%;
}

.contact-body {
    margin-top: 5px;
    padding-top: 5px;
}

.contact-body > p {
    color: #002525;
    padding-top: 40px;
}

.cnt-icn {
    margin-right: 25px;
    margin-top: 10px;
}

@media screen and (max-width: 840px) {
    .wrapper-contact {
        display: flex;
        flex-direction: row;
    }

    .wrapper-contact > div {
        padding-top: 2.8%;
        margin-right: 7.5%;
    }

    .crow {
        display: flex;
        flex-direction: column;
    }

    .contact-map {
        flex: 60%;
        -webkit-clip-path: none;
        clip-path: none;
        margin-top: 20px;
        
    }

    .contact-title p {
        font-size: 1.2em;
    }

    .contact-body > p {
        font-size: 1.2em;
    }
    
}

@media screen and (max-width: 480px) {
    .wrapper-contact {
        display: flex;
        flex-direction: row;
    }

    .wrapper-contact > div {
        padding: 0 0 0 7.5%;
        padding-top: 2.8%;
    } 

    .crow {
        display: flex;
        flex-direction: column;
    }

    .contact-map {
        display: none;   
    }

    .contact-body > p {
        padding-top: 30px;
    }
    
    .cnt-icn {
        margin-left: 1px; 
        margin-right: 15px;
    }
}