.nav-container_la {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-container_la > h1 { 
    color: black;
}

.logo_nav {
    font-size: 1.5em;
}

.nav-menu-la {
    display: flex;
}

.nav-menu-la li {
    padding: 0 1rem;
    color: black;
}

.nav-menu-la li a {
    font-size: 1.0rem;
    font-weight: 500;
    color: black;
}

.nav-menu-la li a:hover {
    color: #6225E6;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-menu-la {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        background: rgba(61, 58, 58, 0.9);
        position: absolute;
        top: 0;
        left: -110%;
        z-index: 3;
        transition: 0.3s;
    }

    .nav-menu-la.active {
        left: 0;
    }

    .nav-menu-la li {
        padding: 1rem 0;
    }

    .nav-menu-la li a {
        font-size: 2rem;
    }

    .hamburger {
        display: initial;
        z-index: 4;
    }
}