.project-wrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: rgba(214,233,253, 0.1);
}

.project-wrapper > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.project-title {
    flex: 12%;
}

.project-title h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #050B18;
}

.project-carousel {
    flex: 83%;
}

.card-container {
    
}

@media screen and (max-width: 480px) {
    .project-wrapper > div {
        padding: 0 0 0 0;
    }

    .project-title {
        margin-left: 7.5%;
        margin-top: 1.5%;
    }

    .project-title h1 {
        font-weight: 600;
        font-size: 1.5em;
    }
}