.wrapper-proservice {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.top-proservice {
    flex: 10%;
    margin: 0 7.5% 0 7.5%;
    margin-top: 1%;
}

.top-proservice h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #050B18
}
.content-proservice{
    flex: 80%;
    margin: 0 7.5% 0 7.5%;
    margin-top: 1%;
    margin-bottom: 25px;
}

.flex-s {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-proservice {
    flex: 100%;
    background-color: rgba(192, 192, 192, 0.1);
    color: #050B18;
}

.box-proservice h2 {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 1.2em;
}

.box-proservice p {
    margin-top: 10px;
    margin-left: 35px;
    font-size: 0.95em;
}

.box-content {
    margin-left: 55px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.box-content ul {
    list-style-type:disc;
}

.box-content li {
    line-height: 1.8em;
    margin-left: 20px;
    font-size: 0.95em;
}

.servicebcontent {
    height: 3.5em;
    margin-right: 30px;
}

.servicebcontent p {
    margin-left: 80px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 0.95em;
}

.servicebcontent p:hover {
    color: orangered;
}

.delmeth {
    margin-top: 15px;
    margin-left: 30px;
}

.servicebcontent img {
    width: 100%;
    height: 23.5em;
    float: left;

}

@media screen and (max-width: 840px) {
    .top-proservice {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .flex-s {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .box-proservice {
        padding-bottom: 20px;
    }

    .box-proservice p {
        margin-right: 25px;
        line-height: 1.7em;
        font-size: 1.3em;
    }

    .box-content li{
        line-height: 2.4em;
        font-size: 1.3em;
    }

    .box-content ul {
        margin-right: 20px;
        margin-left: 40px;
    }

    .box-proservice h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 1.9em;
    }

    .servicebcontent {
        margin-left: 45px;
        height: 4.2em;
    }

    .servicebcontent p {
        margin-left: 110px;
    }

    .servicebcontent img {
        width: 4.2em;
    }

    .delmeth {
        margin-top: 45px;
    }
}

@media screen and (max-width: 480px) {
    .top-proservice {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .flex-s {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .box-proservice h2 {
        font-size: 1.2em;
    }

    .box-proservice p {
        margin-right: 20px;
        font-size: 1.0em;
        line-height: 1.3em;
    }

    .box-content ul {
        margin-right: 20px;
        margin-left: 0px;
    }

    .box-content li{
        line-height: 1.4em;
        font-size: 0.9em;
    }

    .servicebcontent {
        margin-left: 5px;
        height: 4.2em;
    }

    .servicebcontent p {
        margin-left: 100px;
    }

    .servicebcontent img {
        width: 4.2em;
    }

    .delmeth {
        margin-top: 45px;
    }
}