.wrapper-quote {
    display: flex;
    flex-direction: column;
    background-color: rgba(214,233,253, 0.1);
    padding-bottom: 50px;
}

.wrapper-quote > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.quote-header {
    flex: 20%;
}

.quote-body {
    flex: 80%;
    margin-top: 3%;
}

.quote-header h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #050B18;
}

.quote-form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
}

.form-control {
    padding-right: 10%;
    padding-bottom: 1%;  
}

.quote-btn {
    width: 450px;
    background: #050B18;
    border: 0;
    color: white;
    border-radius: 20px;
}

.quote-btn:hover {
    background-color: #122857; 
}

.slantdiv {
    width: 120%;
    transform: skewX(-20deg);
}

.slantdiv > input {
    padding: 10px;
    width: 15rem;
}

.down {}

@media screen and (max-width: 840px) {
    .wrapper-quote > div {
        padding-top: 3%;
        margin-bottom: 20px;
    }

    .quote-form {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        gap: 25px;
        padding: 0;
    }

    .form-control {
        padding-bottom: 1%;  
    }

    .slantdiv {
        width: 100%;
        transform: skewX(0deg);
        padding: 0;
    }

    .slantdiv > input {
        padding: 20px;
        width: 100%;
    }

    .quote-btn {
        margin-top: 5px;
        width: 100%;
        padding: 15px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 480px) {
    .wrapper-quote {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .quote-form {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        gap: 15px;
    }

    .slantdiv {
        width: 100%;
        transform: skewX(0deg);
    }

    .quote-btn {
        width: 100%;
        padding: 15px;
        font-size: 1.3em;
    }

    .slantdiv > input {
        padding: 10px;
        width: 100%;
    }
}