.wrapper-quote {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #002525;
}

.wrapper-quote > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.quote-header {
    flex: 20%;
}

.quote-body {
    flex: 80%;
}

.quote-header h1 {
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
}

.quote-form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
}

.form-control {
    padding-right: 10%;
    padding-bottom: 1%;  
}

.quote-btn {
    width: 400px;
    background: #6CB4B9;
    border: 0;
    color: white;
    border-radius: 20px;
}

.slantdiv {
    width: 120%;
    transform: skewX(-20deg);
}

.slantdiv > input {
    padding: 10px;
    width: 20rem;
}

@media screen and (max-width: 480px) {
    .quote-form {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        gap: 20px;
    }

    .slantdiv {
        width: 100%;
        transform: skewX(0deg);
    }

    .quote-btn {
        width: 100%;
        padding: 15px;
        font-size: 1.3em;
    }
}