.wrapper-quote {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.wrapper-quote > div {
    padding: 0 7.5% 0 7.5%;
    padding-top: 1%;
}

.quote-header {
    flex: 20%;
}

.quote-body {
    flex: 80%;
}

.quote-header h1 {
    font-size: 45px;
    font-weight: 700;
    color: #002525;
}

.quote-form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 50px;
}

.form-control {
    padding-right: 10%;
    padding-bottom: 1%;  
}

.quote-btn {
    width: 100px;
    background: #6CB4B9;
    border: 0;
    color: white;
}