.service-wrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: #002525;
}

.service-box {
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 1%;
}

.service-title {
    margin: 10px 0 10px 0;
}

.service-title h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.8em;
}

.service-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    flex: 20%;
    align-content: space-between;
}

.service-row > div {
    background-color: #f1f1f1;
    width:270px;
    margin: 10px 0 10px 0;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-size: 1em;
    height: 80%;
}

.service-box > p {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 700;
    color: #002525;
}

.service-icon {
    margin-top: 40px;
}

.service-icon > img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 480px) {
    .service-wrapper {
        position: relative;
        height: 82vh;
    }

    .service-row {
        flex-direction: column;
        justify-content: flex-start;
        flex: 40%;
        width: 100%;
    }

    .service-row > div {
        background-color: #f1f1f1;
        width:100%;
        margin: 10px 0 10px 0;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
    .service-icon > img {
        width: 60px;
        height: 60px;
    }

    .service-icon {
        margin-top: 10px;
    }
}