.service-wrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: rgba(214,233,253, 0.1);
}

.service-box {
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 1%;
}

.service-title {
    margin: 10px 0 10px 0;
}

.service-title h1 {
    font-weight: 700;
    color: #050B18;
    font-size: 1.8em;
}

.service-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    flex: 30%;
    align-content: space-between;
}

.service-row > div {
    background-color: #f1f1f1;
    width:350px;
    margin: 10px 0 10px 0;
    text-align: center;
    line-height: 75px;
    font-size: 0.95em;
    height: 80%;
}

.flip-box {
    perspective: 1000px;
}

.flip-box-front > p {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 700;
    color: #002525;
}

.service-icon {
    margin-top: 40px;
}

.service-icon > img {
    width: 100px;
    height: 100px;
}

.flip-box-inner { 
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-box-back { 
    color: #002525;
    margin-top: 40px;
    margin-left: 60px;
    transform: rotateY(180deg);
}

.flip-box-back > h1 {
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 300px;
}

.flip-box-back > p {
    margin-top: 40px;
    text-align:center;
    width: 300px;
    line-height: 1.4em;
}
@media screen and (max-width: 840px) {
    .service-wrapper {
        position: relative;
        height: 75vh;
    }

    .service-row {
        flex-direction: column;
        justify-content: flex-start;
        flex: 40%;
        width: 100%;
    }

    .service-row > div {
        background-color: #f1f1f1;
        width:100%;
        margin: 10px 0 20px 0;
        line-height: 75px;
        font-size: 1.2em;
        height: 100%;
        text-align: center;
    }
    .service-icon > img {
        width: 90px;
        height: 90px;
    }

    .service-icon {
        margin-top: 30px;
    }

    .service-box > p {
        margin-top: 65px;
        font-size: 25px;
        font-weight: 700;
        color: #002525;
        margin-left: 120px;
    }

    .flip-box-front p {
        font-size: 24px ;
    }

    .flip-box-back { 
        color: #002525;
        margin-top: 30px;
        margin-left: 0px;
        transform: rotateY(180deg);
    }

    .flip-box-back > h1 {
        font-size: 1.6em;
        margin-bottom: 15px;
        width: 100%;
    }

    .flip-box-back > p {
        margin-top: 20px;
        width: 100%;
        line-height: 1.4em;
        text-align: center;
        font-size: 1.2em;
    }

    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

    .flip-box-inner { 
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-box-front, .flip-box-back {
        position: absolute;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .service-wrapper {
        position: relative;
        height: 100vh;
    }

    .service-title h1 {
        font-weight: 600;
        font-size: 1.5em;
    }

    .service-row {
        flex-direction: column;
        justify-content: flex-start;
        flex: 40%;
        width: 100%;
    }

    .service-row > div {
        background-color: #f1f1f1;
        width:100%;
        margin: 10px 0 10px 0;
        text-align: center;
        line-height: 75px;
        font-size: 1.2em;
        height: 100%;
    }
    .service-icon > img {
        width: 90px;
        height: 90px;
    }

    .service-icon {
        margin-top: 30px;
    }

    .service-box > p {
        margin-top: 36px;
        font-size: 1.5em;
        font-weight: 700;
        color: #002525;
        margin-left: 120px;
    }

    .flip-box-front p {
        font-size: 1.4em;
        font-weight: 500;
    }

    .flip-box-back { 
        color: #002525;
        margin-top: 10px;
        margin-left: 10px;
        transform: rotateY(180deg);
    }

    .flip-box-back > h1 {
        font-size: 1.3em;
        margin-bottom: 10px;
        width: 100%;
    }

    .flip-box-back > p {
        margin-top: 15px;
        width: 100%;
        font-size: 0.9em;
    }

    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

    .flip-box-inner { 
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
}