.sociallnks {
    display:none;
    flex-direction: column;
    top: 30%;
    left: 0;
    position: fixed;
}

@media (min-width: 1024px) { 
    .sociallnks {
        display: flex; 
   }
}

.socialitems {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem; 
    background-color: #050B18;
    transition-duration: 300ms; 
    justify-content: space-between; 
    align-items: center; 
    width: 9.5rem; 
    height: 3.5rem; 
    margin-left: -100px;
    
}

.socialitems:hover {
    border-radius: 0.375rem; 
    margin-left: -10px;
}

.socialitmlnks {
    display: flex; 
    color: #ffffff; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.linkshapetop {
    border-top-right-radius: 0.375rem; 
}

.linkshapebottom {
    border-bottom-right-radius: 0.375rem; 
}